.DS_Store
log/**/*
tmp/**/*
bin/*
vendor/gems/*
!vendor/gems/cache/
.sass-cache/*
db/*.db
.*.sw*
#!.gitignore
Gemfile.lock
*~
*#
config/main.yml
*#*
package.json
public/tests/bower*
node_modules
config.json
app/bower_components